.pic{
    width:25px;
    height:50px;
    display: inline-block;
    background: red;
    background-image: url("logo.png");
    background-repeat: repeat-y;
}
.letter1{
    animation: scrollup 2s linear infinite;
}
.letter2{
    animation: scrolldown 2s linear infinite;
}

@keyframes scrollup{
    0%{
        background-position: 0 0;
    }
    10%{
        background-position: 0 0;
    }
    40%{
        background-position: 0 20px;
    }
    50%{
        background-position: 0 25px;
    }
    60%{
        background-position: 0 25px;
    }
    90%{
        background-position: 0 45px;
    }
    100%{
        background-position: 0 50px;
    }
}

@keyframes scrolldown{
    0%{
        background-position: 0 0;
    }
    10%{
        background-position: 0 0;
    }
    40%{
        background-position: 0 -20px;
    }
    50%{
        background-position: 0 -25px;
    }
    60%{
        background-position: 0 -25px;
    }
    90%{
        background-position: 0 -45px;
    }
    100%{
        background-position: 0 -50px;
    }
}