#sweet-content * {
    font-family: 'Prompt';

    .collapse {
        font-size: 1.2rem;
        font-weight: 200;
    }

    a {
        text-decoration: none;
        display: inline-block;
    }

    .list-group-item{
        font-size: 1.25rem;
        font-weight: 200;
    }
}