#headache-content * {
  font-family: 'Prompt';

  .list-group-item {
    font-weight: 200;
    font-size: 1.25rem;
  }
}

#headache1 {
  position: absolute;
  transform: rotate(35deg);
  width: 35vw;
  left: -13%;
  top: 0%;
  z-index: -2;
}

#headache2 {
  position: absolute;
  transform: rotate(-27deg);
  width: 25vw;
  right: -5%;
  top: 50vh;
  z-index: -2;
}

#headache3 {
  position: absolute;
  transform: rotate(12.5deg);
  width: 25vw;
  left: -5%;
  top: 220vh;
  z-index: -2;
}

#headache4 {
  position: absolute;
  transform: rotate(-32.5deg);
  width: 25vw;
  right: -5%;
  top: 350vh;
  z-index: -2;
}

#headache5 {
  position: absolute;
  transform: rotate(-32.5deg);
  width: 25vw;
  left: -5%;
  top: 550vh;
  z-index: -2;
  filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.11));
}

#headache6 {
  position: absolute;
  transform: rotate(62.5deg);
  width: 25vw;
  right: -5%;
  top: 680vh;
  z-index: -2;
  filter: drop-shadow(1px 1px 1px rgba(34, 34, 34, 0.11));
}